body{
    margin: 0px; 
    padding: 0px;
}

.li, a, button{
    font-family:'Mulish', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    background-color: #BFCEC0;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 3%;
}


.nav-logo{
    cursor: pointer;
    width: 180px;
    float:left;
    margin-right: auto;
}


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #F36326
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(244, 99, 37, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover{
    background-color: #f46325cc;
}

@import url("https://fonts.googleapis.com/css?family=Mulish:400,700,600");



.title {
  color: var(--mirage);
  font-family: Mulish;
  font: size 70px;;
  font-weight: 900;
  letter-spacing: 0.24px;
  margin-left: 65px;
}

#information {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Mulish;
  }


#booking-container {
    display: flex;
    flex-direction: row;
    font-family: Mulish;

}


.rating {
  display: flex;
}

.hthree {
    font-family: Mulish;
    font-weight: bolder;
    color: black;
    margin-left: 60px;
}

.key {
    font-family: Mulish;
    font-weight: 900;
    font-size: 20px;
    font-display: bolder;
    color: black;
}

.button {
    background-color: flamingo;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-family: Mulish;
}

.details {
    font-family: Mulish;
    color: black;
    font-weight: bolder;
}

.trip {
    font-family: Mulish;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    display: flex;
}

  
  .click {
    color: white;
    font-family: Mulish;
    font-size: 16px;
    text-align: center;
  }

.description {
    font-family: Mulish;
    color: gray;
    margin-left: 60px;
    display: inline-block;
}

.open {
    color: black;
    font-weight: bolder;
}

.location {
    color: black;
    font-weight: bolder;
}

.titlef {
    color: black;
}

.facts {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 30px;
   padding-bottom: 40px;
   padding-top: 20px;
   padding-right: 20px;
   padding-left: 20px;
}

.review {
    font-family: Mulish;
    color: black;
}

.at {
    font-family: Mulish;
}

.on {
    font-family: Mulish;
}

.it {
    font-family: Mulish;
}

#customers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: flex-start;
}


Card Trial 

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
  }
  .heading {
    text-align: left;
    font-size: 20px;
    margin-bottom: 50px;
  }

  .overlap-group-1 {
    height: 15px;
    margin-top: 1.86px;
    position: relative;
    width: 19px;
  }


  .icon-color-1 {
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    width: 19px;
  }

 
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    width: 25%;
    height: 40%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
  }


  .card img {
    height: 250px;
    width:100%;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width: 50px) {
    .card {
      width: 40%;
    }
  }

  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }

    .heading {
      padding: 20px;
      font-size: 20px;
    }

    .card {
      width: 1000%;
    }

.rights {
    font-family: Mulish;
}
    .copyright {
        background-color: #BFCEC0;
          background-size: cover;
          background-position: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-family: 'Varela Round', sans-serif;
          font-size: 10px;
          padding: 10px;
      }
      
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-flow: wrap;
        }
      
          .column {
            width: 33.33%;
            background-color: #BFCEC0;
        }
